version: 2
jobs:
  build:
    docker:
      - image: node
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            yarn
      - run:
          name: Run Prettier
          command: |
            yarn prettier:check
      - run:
          name: Build
          command: |
            yarn tsc --noEmit
      - run:
          name: Run tests
          command: |
            yarn test --maxWorkers=1

workflows:
  version: 2
  build:
    jobs:
      - build
